.kesami/credentials.json
.kesami/settings.json
.kesami/accounts.json
.kesami/accounts.sqlite3*
/target/
.alpha-meeting-assistant/credentials.json
.alpha-meeting-assistant/settings.json
.alpha-meeting-assistant/accounts.json
.alpha-meeting-assistant/accounts.sqlite3*
